<!--Topside-->
<div class="container">
    <div class="row mt-4">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    Statistics
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="text-decoration-none text-dark" href="{% url 'dashboard-staff' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Staff <i class="fa-solid fa-user-group fa-beat"></i></h4>
                                    <h3>210</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'dashboard-department' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Department <i class="fa-solid fa-building-user fa-beat"></i></h4>
                                    <h3>23</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a class="text-decoration-none text-dark" href="{% url 'dashboard-unit' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Unit <i class="fa-solid fa-building-flag fa-beat"></i></h4>
                                    <h3>32</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a class="text-decoration-none text-dark" href="{% url 'dashboard-division' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Divison <i class="fa-solid fa-users fa-beat"></i></h4>
                                    <h3>32</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    Information
                </div>
                <div class="card-body">
                    <marquee behaviour="" direction="">
                        <h3 class="my-4">New Information</h3>
                    </marquee>
                </div>
            </div>
        </div>
    </div>
 </div>
 <!--EndTopside-->