{%extends 'partials/base.html'%}

{%block title%}Home Page{% endblock title %}

{%block content%}

{%if user.is_authenticated and user.is_staff and user.is_superuser%}
{% include 'partials/topnav.html'%}
     <!--Graphs-->
     <div class="container">
        <div class="row my-4">
            <div class="col-md-5">
                <div class="bg-white">
                    <canvas id="myChart"></canvas>
                  
                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                  
                  <script>
                    const context = document.getElementById('myChart');
                  
                    new Chart(context, {
                      type: 'bar',
                      data: {
                        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                        datasets: [{
                          label: 'Total staff',
                          data: [12, 19, 3, 5, 2, 3],
                          borderWidth: 1
                        }]
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true
                          }
                        }
                      }
                    });
                  </script>
            </div>
        </div>
            <div class="col-md-5">
                <div class="bg-white">
                    <canvas id="myChart1"></canvas>
                  
                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                  
                  <script>
                    const cxt = document.getElementById('myChart1');
                  
                    new Chart(cxt, {
                      type: 'bar',
                      data: {
                        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                        datasets: [{
                          label: 'Total staff by department',
                          data: [12, 19, 3, 5, 2, 3],
                          borderWidth: 1
                        }]
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true
                          }
                        }
                      }
                    });
                  </script>
                </div>
            </div>
            <div class="col-md-5">
                <div class="my-4 bg-white">
                    <canvas id="myChart2"></canvas>
                  
                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                  
                  <script>
                    const context2 = document.getElementById('myChart2');
                  
                    new Chart(context2, {
                      type: 'bar',
                      data: {
                        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                        datasets: [{
                          label: 'Total staff by unit',
                          data: [12, 19, 3, 5, 2, 3],
                          borderWidth: 1
                        }]
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true
                          }
                        }
                      }
                    });
                  </script>
                </div>
            </div>
            <div class="col-md-5">
                <div class="my-4 bg-white">
                    <canvas id="myChart3"></canvas>
                  
                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                  
                  <script>
                    const context3 = document.getElementById('myChart3');
                  
                    new Chart(context3, {
                      type: 'bar',
                      data: {
                        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                        datasets: [{
                          label: 'Total staff by Division',
                          data: [12, 19, 3, 5, 2, 3],
                          borderWidth: 1
                        }]
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true
                          }
                        }
                      }
                    });
                  </script>
                </div>
            </div>
            </div>
        </div>
     <!--EndGraphs-->
     {%else%}
     {%include 'dashboard/staff_index.html'%}
{%endif%}
{%endblock%}