<!--Tables-->
<div class="container">
    <div class="row my-4"></div>
    <div class="col-md-8">
      <table class="table bg-white">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Department id</th>
            <th scope="col">Department name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Director General/Executive's Office</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Research Development & Consulatancy Services</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Human Resources Management</td>
          </tr>
        </tbody>
      </table>
    </div>
   </div>
   <!--EndTables-->
