{% extends 'partials/base.html' %}
{%block title%}Logout Page{%endblock title%}
{% load crispy_forms_tags %}

{%block content%}
<!--Form-->
<div class="container">
    <div class="row my-5"></div>
    <div class="col-md-6 offset-md-3">
      <div class="border bg-white p-3">
        <h4>Logout</h4>
        <hr>
        <div class='alert alert-danger'>
            <h5>Logged Out</h5>
        </div>
            <a href="{% url 'user-login' %}">Login</a>
        </form>
    </div>
    </div>
   </div>
   <!--Endform-->
{%endblock content%}